## <p style="color:red;text-align:center">**News Classifier**</p>

### <p style="text-align:center">**ML Pipeline with Sentence Transformers, ChromaDB & Airflow**</p>

Ce projet vise à construire un pipeline complet de classification de textes permettant de catégoriser automatiquement des articles d’actualité dans 4 classes :

- World
- Sports
- Business
- Sci/Tech

Le pipeline utilise des techniques NLP avancées, des embeddings vectoriels, une base de données vectorielle et une orchestration via Apache Airflow.

<br>

### <span style="color:green">**Stockage dans ChromaDB :**</span>

#### <span style="color:orange">**1. Charger les Données :**</span>

In [18]:
import pandas as pd

df_train = pd.read_pickle("../metadata/train.pkl")

print("Train Dataset Chargée avec Succès !")

df_train.head()

Train Dataset Chargée avec Succès !

,text,clean_text,label,text_embedding,id
0,wall st. bears claw back into the black (reute...,wall bears claw back black reuters reuters wal...,2,"[0.08452066034078598, -0.010081029497087002, 0...",train_art_0
1,carlyle looks toward commercial aerospace (reu...,carlyle looks toward commercial aerospace reut...,2,"[0.05757696554064751, -0.04762953147292137, -0...",train_art_1
2,oil and economy cloud stocks' outlook (reuters...,oil economy cloud stocks outlook reuters reute...,2,"[0.007693152409046888, -0.05420009419322014, 0...",train_art_2
3,iraq halts oil exports from main southern pipe...,iraq halts oil exports main southern pipeline ...,2,"[0.0023386478424072266, -0.016605667769908905,...",train_art_3
4,"oil prices soar to all-time record, posing new...",oil prices soar record posing new menace us ec...,2,"[-0.0641697347164154, -0.018890680745244026, 0...",train_art_4

In [19]:
import pandas as pd

df_test = pd.read_pickle("../metadata/test.pkl")

print("Test Dataset Chargée avec Succès !")

df_test.head()

Test Dataset Chargée avec Succès !

,text,clean_text,label,text_embedding,id
0,fears for t n pension after talks unions repre...,fears n pension talks unions representing work...,2,"[-0.014112311415374279, 0.150861456990242, -0....",test_art_0
1,the race is on: second private team sets launc...,race second private team sets launch date huma...,3,"[-0.010881485417485237, 0.06553682684898376, -...",test_art_1
2,ky. company wins grant to study peptides (ap) ...,company wins grant study peptides ap ap compan...,3,"[-0.07935794442892075, -0.0015284559922292829,...",test_art_2
3,prediction unit helps forecast wildfires (ap) ...,prediction unit helps forecast wildfires ap ap...,3,"[-0.07381721585988998, 0.0071342745795845985, ...",test_art_3
4,calif. aims to limit farm-related smog (ap) ap...,aims limit smog ap ap southern california agen...,3,"[0.010134254582226276, 0.014008638449013233, 0...",test_art_4